#loading {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    z-index: 2;
    overflow: auto;
}

#sng-collapse {
    float: right;
}

@media (max-width: 767px){
  .navbar-nav li a {
    color: white !important;
  }
}

#sng-nav-menu {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 18px;
}

#sng-nav-menu a:hover {
    color: #288edf;
    text-decoration: none;
}

.sng-feature {
    margin-bottom: 30px;
}

.sng-blue {
    color: #337ab7 !important;
}

.navbar-brand {
    font-size: 24px;
    color: white !important;
}

a.navbar-brand:hover {
    color: #288edf !important;
}

.navbar-default {
    background-color: #4a4d4e;
}

#navbar-info > ul > li > a {
    color: white;
}

a {
    color: #2E79BA;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #4a4d4e;
}

.footer-text {
    margin-top: 20px;
    color: white;

}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.tooltip {
    position: relative;
    display: inline-block;    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.searchbox {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.inline-margin {
    margin-right: 20px;
}

pre {
    border-style: none;
    background-color: white;
    font-size: 18px;
}

.lyrics {
    font-size: 18px;
}

