<!DOCTYPE html>
<html lang="en" ng-app="songlist">

<head>

    <meta charset="utf-8">    
    <meta name="csrf-token" content="{{ csrf_token() }}"> <!--Used by Flask for Security-->    
    <meta name="confirmation" content="{{_('Confirm this action?')}}"> <!--Used for confirmation dialogs-->    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Repertoire, set list and song management. Web based interface and mobile app available.">
    <meta name="author" content="Fernando Pedrosa">

    <title id="page-title">Songlist Plus</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/images/fav.png">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" ng-controller="NavBarController as navCtlr">
    <div class="container">
        <div class="navbar-header" id="sng-collapse">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-info">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-header pull-left hidden-xs">
            <a class="navbar-brand" href="/">
                <img alt="brand" src="../static/images/logo-scaled.png">                
            </a>

        </div>

        <div class="collapse navbar-collapse" id="navbar-info">            
            <ul class="nav navbar-nav navbar-right" id="sng-nav-menu">
                {% if not current_user.is_authenticated %}
                <li>
                    <a href="#" ng-click="navCtlr.changeLanguage()">                        
                        <img alt="language" ng-show="navCtlr.language.code == 'en'" src="../static/images/Brazil.png">                       
                        <img alt="language" ng-show="navCtlr.language.code == 'pt'" src="../static/images/America.png">
                    </a>
                </li>
                <li>
                    <a href="/contact">{{ _('Contact') }}</a>
                </li>
                <li>
                    <a href="#" id="about" data-toggle="modal" data-target="#about-modal">{{ _('About') }}</a>
                </li>
                <li>
                    <a href="/login">{{ _('Sign in') }}</a>
                </li>
                {% else %}               
                 <li>
                    <a href="#" ng-click="navCtlr.changeLanguage()">                        
                        <img alt="language" ng-show="navCtlr.language.code == 'en'" src="../static/images/Brazil.png">                       
                        <img alt="language" ng-show="navCtlr.language.code == 'pt'" src="../static/images/America.png">
                    </a>
                </li>
                <li>
                    <a href="/bands">{{ _('Bands') }} ()</a>
                </li>
                <li>
                    <a href="#">{{ _('Songs') }} ()</a>
                </li>
                <li>
                    <a href="#">{{ _('Shows') }} ()</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>  <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/profile">{{ _('Profile') }}</a>
                        </li>         
                        <li>
                            <a href="/contact">{{ _('Contact') }}</a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#about-modal">{{ _('About') }}</a>
                        </li>                            
                        <li>
                            <a href="/logout">{{ _('Sign Out') }}</a>
                        </li>  
                    </ul>
                </li>                 
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
     {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <!-- Page content-->
    {% block content %} {% endblock %}

</div>
<!--End Page Content-->

<div class="container text-center">
    <footer class="footer">
        <p class="footer-text">Copyright © Songlist Plus {{ current_year() }}</p>
    </footer>
</div>

<!-- About Modal -->

<div id="about-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="about-header">{{ _('About') }}</h4>
            </div>
            <div class="modal-body" id="about-modal-body">
                <p> lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
 
                lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
            <div class="modal-footer">
                <button id="btn-close-about-modal" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Angular -->
<script src="../static/js/angular/angular.min.js"></script>

<!-- jQuery -->
<script src="../static/js/jquery/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="../static/css/bootstrap/js/bootstrap.min.js"></script>

<!-- SongList custom JavaScript -->
<script src="../static/js/app.js"></script>

<!-- Smart Tables -->
<script src="../static/js/smart-table/smart-table.min.js"></script>

</body>

</html>
