<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="TODO: add meta description (SEO)">
    <meta name="author" content="Fernando Pedrosa">

    <title id="page-title">Songlist Plus</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/images/fav.png">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">      
        <div class="navbar-header" id="sng-collapse">            
            
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-info">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>  

       <div class="navbar-header pull-left hidden-xs"> 
             <a class="navbar-brand" href="#">
                <img alt="brand" src="../static/images/logo-scaled.png">
            </a>
        </div>        

        <div class="collapse navbar-collapse" id="navbar-info">            
            <ul class="nav navbar-nav navbar-right" id="sng-nav-menu">
                <li>
                    <a href="#">Shows (1)</a>
                </li>
                <li>
                    <a href="#">Setlists (2)</a>
                </li>
                <li>
                    <a href="#">Songs (53)</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user"></i>  <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu" id="profile-menu">
                        <li>
                            <a href="#" >Settings</a>
                        </li>
                        <li>
                            <a href="#" >Logout</a>
                        </li>

                    </ul>
                </li>    
            </ul>            
        <div>          
    </div>    
</nav>

<div class="container">
    
    <header class="jumbotron sng-top-spacer">
        <h1>Songlist Plus
            <small class="sng-blue">music on your fingers</small>
        </h1>
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>            
        <button type="button" class="btn btn-lg btn-danger">Create free account</button>
    </header>    
    <hr>

    <!-- Page content-->
    <div class="row" style="padding-left: 30px">
           <div class="col-md-3 col-sm-6 sng-feature">                
                <h2>Songs & Setlists</h2>
                <p>Add as many songs as you want to your repertoire and use them to build setlists</p>
                <p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-6 sng-feature">                
                <h2>Lyrics & Chords</h2>
                <p>Add lyrics and chords to your songs so you may never forget them</p>
                <p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </p>
            </div>
              <div class="col-md-3 col-sm-6 sng-feature">                
                <h2>Sharing</h2>
                <p>Share songs and setlists with your friends and bandmates</p>
                <p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </p>
            </div>
              <div class="col-md-3 col-sm-6 sng-feature">                
                <h2>Mobile</h2>
                <p>Download the iOS app and sync it with the web-based interface</p>
                <p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </p>
            </div>           
    </div>
</div>



<div class="container text-center">
    <footer class="footer">
        <p class="footer-text">Copyright © Songlist Plus 2016</p>
    </footer>
</div>

<!-- jQuery -->
<script src="../static/js/jquery/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="../static/css/bootstrap/js/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<script src="../static/js/custom.js"></script>

</body>

</html>
