{% extends "base.html" %}
{% block content %}
 
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{{ _('Contact') }}</h1>
        </div>
    </div>

    <div class="row" ng-cloak>
         <div class="col-xs-12" ng-controller="ContactFormController as contactCtlr" cg-busy="myPromise">
            <div class="alert" ng-class="{'alert-danger': contactCtlr.errors.error == true, 'alert-success': contactCtlr.errors.error == false}" ng-show="contactCtlr.message != ''" role="alert">[[ contactCtlr.message ]]</div>            
            <form id="contact-form">                
                <div class="form-group">
                    {{ contact_form.name.label }} *
                    {{ contact_form.name(class="form-control", ng_model="contactCtlr.formData.name", placeholder=contact_form.name.description) }}
                    <p class="text-danger">[[ contactCtlr.errors.name ]]</p>
                </div>
                <div class="form-group">
                    {{ contact_form.email.label }} *
                    {{ contact_form.email(class="form-control", ng_model="contactCtlr.formData.email", placeholder=contact_form.email.description) }}
                    <p class="text-danger">[[ contactCtlr.errors.email ]]</p>
                </div>
                <div class="form-group">
                    {{ contact_form.message.label }} *
                    {{ contact_form.message(class="form-control", ng_model="contactCtlr.formData.message", rows="4", placeholder=contact_form.message.description) }}
                    <p class="text-danger">[[ contactCtlr.errors.message ]]</p>
                </div>                
            </form>            
            <button ng-click="contactCtlr.sendMessage()" type="button" class="btn btn-primary pull-left">{{_('Send')}}</button>
        </div>        
    </div>   

{% endblock %}