{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-12">
        {% if song_form.songid.data %}
        <h1 class="page-header">{{ _('Edit Song') }}</h1>
        {% else %}
        <h1 class="page-header">{{ _('Add Song') }}</h1>
        {% endif %}
    </div>
</div>

<div class="row" ng-cloak>
    <div class="col-xs-12" ng-controller="SongFormController as songCtlr">
        <div class="alert" ng-class="{'alert-danger': songCtlr.errors.error == true, 'alert-success': songCtlr.errors.error == false}"
            ng-show="songCtlr.message != ''" role="alert">[[ songCtlr.message ]]</div>
        <form id="band-form">
            <div class="form-group">
                {{song_form.songid(class="form-control", ng_model="songCtlr.formData.songid")}}
            </div>
            <div class="form-group">
                {{ song_form.title.label }} *
                {{ song_form.title(class="form-control", ng_model="songCtlr.formData.title",
                placeholder=song_form.title.description) }}
                <p class="text-danger">[[ songCtlr.errors.title ]]</p>
            </div>
            <div class="form-group">
                {{ song_form.artist.label }}
                {{ song_form.artist(class="form-control", ng_model="songCtlr.formData.artist",
                placeholder=song_form.artist.description) }}
                <p class="text-danger">[[ songCtlr.errors.artist ]]</p>
            </div>
            <div class="form-group">
                {{ song_form.key.label }}
                {{ song_form.key(class="form-control", ng_model="songCtlr.formData.key",
                placeholder=song_form.key.description) }}
                <p class="text-danger">[[ songCtlr.errors.key ]]</p>
            </div>
            <div class="form-group">
                {{ song_form.tempo.label }}
                {{ song_form.tempo(class="form-control", ng_model="songCtlr.formData.tempo", **{'ui-mask':'99?9'}) }}
                <p class="text-danger">[[ songCtlr.errors.tempo ]]</p>
            </div>
            <div class="form-group">
                {{ song_form.duration.label }}
                {{ song_form.duration(class="form-control", placeholder="mm:ss", ng_model="songCtlr.formData.duration",
                **{'ui-mask':'99:99', 'ui-mask-placeholder':''})}}
                <p class="text-danger">[[ songCtlr.errors.duration ]]</p>
            </div>
            <div ng-show="songCtlr.formData.songid != ''" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{_('Associated Bands')}}</h3>
                </div>
                <div class="panel-body">
                    <h3 style="margin-top: 0px">
                        <small> {{_('Here you can associate your bands with this song. This is useful for filtering which
                            songs belong to which ones of your bands.')}}</small>
                    </h3>
                    <form id="bands-form">
                        <div class="form-group">
                            <select class="form-control" ng-model="songCtlr.bandid" ng-options="band.id as band.name for band in songCtlr.availableBands.data"></select>
                            </select>
                        </div>
                    </form>
                    <button style="margin-bottom: 20px" ng-click="songCtlr.associateBand()" type="button" class="btn btn-success">{{_('Associate
                        Band')}}</button>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{_('Name')}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-model="songCtlr.associatedBands.data">
                            <tr ng-repeat="band in songCtlr.associatedBands.data">
                                <td> [[ band.name ]] </td>
                                <td>
                                    <button title="{{_('Disassociate band from song')}}" type="button" ng-click="songCtlr.disassociateBand(band.id)"
                                        class="btn btn-sm btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                {{ song_form.lyrics.label }}
                <a href="#" data-toggle="modal" ng-click="songCtlr.importError = ''; songCtlr.importSuccess = ''; songCtlr.songUrl = ''"
                    data-target="#import-modal"> {{_('Import...')}} </a>
                {{ song_form.lyrics(class="form-control", ng_model="songCtlr.formData.lyrics",
                placeholder=song_form.lyrics.description, **{'data-ck-editor':''})}}
                <p class="text-danger">[[ songCtlr.errors.lyrics ]]</p>
            </div>
            <div class="form-group">
                {{ song_form.notes.label }}
                {{ song_form.notes(class="form-control", rows="4", ng_model="songCtlr.formData.notes",
                placeholder=song_form.notes.description) }}
                <p class="text-danger">[[ songCtlr.errors.notes ]]</p>
            </div>
        </form>
        <a href="/songs" class="btn btn-default" role="button">{{ _('Back') }}</a>
        <button ng-click="songCtlr.editSong()" type="button" class="btn btn-primary">{{_('Save')}}</button>
        <br><br>
        <div id="import-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{_('Import Lyrics/Chords')}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>{{_('Insert page URL Address')}}</label>
                            <input class="form-control" ng-model="songCtlr.songUrl" type="text" placeholder="LyricsFreak.com, E-Chords.com, Letras.mus.br or Cifraclub.com.br">
                            <p class="text-danger">[[ songCtlr.importError ]]</p>
                            <p class="text-success">[[ songCtlr.importSuccess ]]</p>
                        </div>
                        <button ng-click="songCtlr.importSong()" type="button" class="btn btn-primary">{{_('Import')}}</button>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-close-about-modal" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}