{% extends "base.html" %}
{% block content %}
 
    <div class="row">
        <div class="col-xs-12">
            <h1 id="songs" class="page-header">{{_('Songs and Setlists')}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <br>
            <p>
                {{_('Adding songs is easy. Just choose the "Songs" menu and input all the relevant information that you need - song title, artist, key, tempo, duration, lyrics/chords, etc.')}}
            </p>    
            <p>
                {{_('After you have added your songs, access the "Shows" menu and start building your setlists for easy visualization during performances.')}}
            </p> 
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="../static/images/songs-and-setlists.png" class="thumbnail">
                <img src="../static/images/songs-and-setlists.png" alt="Songs and Setlists">
            </a>            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1 id="lyrics" class="page-header">{{_('Lyrics and Chords')}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <br>
           <p>
                {{_('You can also import lyrics or chords from famous websites in English or Portuguese. Supported sites: LyricsFreak.com, E-chords.com, Letras.mus.br, Cifraclub.com.br.')}}
            </p>   
             <p>
                {{_('No need to copy and paste or manually type your songs!')}}
            </p>   
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="../static/images/lyrics.png" class="thumbnail" target=_blank>
                <img src="../static/images/lyrics.png" alt="Lyrics and Chords">
            </a>            
        </div>
    </div>

     <div class="row">
        <div class="col-xs-12">
            <h1 id="sharing" class="page-header">{{_('Sharing')}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <br>
            <p>
                {{_('After you have built your setlists, you can easily share them with your band members so they can print and bring them to the show.')}}
            </p>   
             <p>
                {{_('Supported formats: Plain Text (for just a quick share) and PDF (with custom options).')}}
            </p>    
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="../static/images/share.png" class="thumbnail" target=_blank>
                <img src="../static/images/share.png" alt="Sharing">
            </a>            
        </div>
    </div>

     <div class="row">
        <div class="col-xs-12">
            <h1 id="mobile" class="page-header">{{_('Mobile')}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <br>
            <p>
                {{_('Coming soon...')}}
            </p>    
            <br>
              
        </div>        
    </div>


{% endblock %}