{% extends "base.html" %}
{% block content %}
    

    {% if show_length > 0 %}

    <div class="row">
    	<div class="col-xs-9">
        	<h1>{{show_description}}</h1>                
        </div>
    	
        <div class="col-xs-3 ">                                    
            <a class="pull-right" id="night" style="margin-left:10px" href="#"><img src="../static/images/night.png" /></a>
            <a class="pull-right" id="day" style="margin-left:10px; display:none" href="#"><img src="../static/images/day.png" /></a>
            <a class="incfont pull-right" href="#"><img src="../static/images/more.png" /></a>            
            <a style="margin-right: 10px" class="decfont pull-right"  href="#"><img src="../static/images/less.png" /></a>            
            <a class="pull-right" id="twocolumns" style="margin-right:10px" href="#"><img src="../static/images/twocolumns.png"/></a>              
            <a class="pull-right" id="onecolumn" style="display:none;margin-right:10px" href="#"><img src="../static/images/onecolumn.png"/></a>
        </div>
    </div> 

     <div class="row row-centered" style="margin-top:10px" ng-cloak>
        <div class="col-xs-12" ng-controller="PerformController as performCtlr">                  
            <form id="perform-form" role="form" class="text-left" >
                <input type="hidden" id="showid" value="{{show_id}}">
                <div class="form-group">                        
                    <select style="font-size:18px" class="form-control" ng-change="performCtlr.previewNext()" ng-model="performCtlr.songid" ng-options="song.id as song.title for song in performCtlr.songs.data">
                    </select>
                </div>
                                 
                <h3 style="display:inline; margin-left:10px"> <span style="color:#777" ng-if="performCtlr.hasNext()">{{_('Next')}}: [[performCtlr.nextSong]]</span></h3> 

                 <h3 id="tempo" style="color: rgb(119,119,119); display:inline; margin-left: 10px"> </h3> 
                 <br><br>
                
                <button style="width:49%" ng-disabled="!performCtlr.hasPrevious()" type="button" ng-click="performCtlr.previous()" class="btn  btn-primary">
                <i class="glyphicon glyphicon-backward"></i>
                </button>   

                <button style="width:50%" type="button" ng-disabled="!performCtlr.hasNext()" ng-click="performCtlr.next()" class="btn btn-primary">
                <i class="glyphicon glyphicon-forward"></i>
                </button>   

               

            </form>                       
            <h1 style="margin-top:15px" class="page-header text-left"> [[ performCtlr.title ]] </h3>    
            <br>                          
            <div id="lyrics-columns" >
                <p id="lyrics-contents" class="lyrics col-centered"></p>
            </div>
            <br><br>
    
        </div>        
    </div>   

    {% else %}

     <div class="row">
        <div class="col-xs-12">                  
            <h4>{{_('You have not added any songs to this show. Come back here when you have built your setlist.')}} </h4>
        </div>        
    </div>  

    {% endif %}




{% endblock %}