{% extends "base.html" %}
{% block content %}
 
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{{_('Shows')}}</h1>
        </div>
    </div>

     <div class="row" ng-cloak>
        <div class="col-xs-12" ng-controller="ShowReportController as reportCtlr">      
            <div class="alert alert-success" ng-show="reportCtlr.message != ''" role="alert">[[ reportCtlr.message ]]</div>
            <form class="form-inline" role="form">
                <div class="form-group">    
                    <label class="inline-margin">{{_('Items per page:')}}</label>
                    <select class="form-control inline-margin" 
                    ng-model="reportCtlr.itemsPerPage" ng-init="reportCtlr.itemsPerPage='10'" ng-options="x for x in reportCtlr.options">
                    </select>
                </div> 
                <div class="form-group">    
                    <a href="/edit-show" class="btn btn-primary form-control" role="button">{{ _('Add Show') }}</a>
                </div> 
            </form>         

             <table st-table="displayedCollection" st-safe-src="reportCtlr.shows.data" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4" class="searchbox">
                            <input st-search placeholder="{{_('Search...')}}" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="name">{{_('Name')}}<i class="fa fa-fw fa-sort"></i></th>
                        <th>{{_('When')}}</th>
                        <th st-sort="band">{{_('Band/Project')}}<i class="fa fa-fw fa-sort"></th>                                                                      
                        <th></th>   
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="show in displayedCollection">
                        <td>[[ show.name ]]</td>
                        <td>[[ show.start ]]</td>
                        <td>[[ show.band ]]</td>
                        <td>
                           <button type="button" ng-click="reportCtlr.deleteShow(show.id)" confirmation-needed class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            <a href="/edit-show?id=[[show.id]]" class="btn btn-sm btn-primary" role="button">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="/perform?id=[[show.id]]" class="btn btn-sm btn-success" role="button">
                                <i class="glyphicon glyphicon-headphones"></i>  
                            </a>
                            <a href="#" data-toggle="modal" ng-click="reportCtlr.getRecipients(show.id)" data-target="#share-modal" class="btn btn-sm btn-info" role="button">
                                <i class="glyphicon glyphicon-share"></i>  
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-left">
                            <div st-pagination="" st-items-by-page="reportCtlr.itemsPerPage" 
                            st-displayed-pages="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>


            <div id="share-modal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->   
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{_('Share Setlist')}}</h4>
                        </div>
                        <div class="modal-body" >
                            <div class="form-group">
                               <label>{{_('Format')}}</label>
                               <select class="form-control" ng-model="reportCtlr.formatid" ng-init="reportCtlr.formatid.id=1" ng-options="format.name for format in reportCtlr.formats.data track by format.id">
                              </select>
                            </div>

                            <div ng-if="reportCtlr.formatid.id==2" class="form-group">
                                <label>{{_('PDF Options')}}</label>
                                <div class="checkbox" ng-repeat="option in reportCtlr.pdfOptions.data">
                                <label >
                                  <input
                                    type="checkbox"
                                    name="selectedOptions"
                                    value="[[option.id]]"                                    
                                    ng-click="reportCtlr.toggleSelection(option)"
                                  > [[option.name]]
                                </label>
                                </div>                                   
                            </div>

                             <div class="form-group">
                               <label>{{_('Recipients')}}</label>
                               <select class="form-control" ng-model="reportCtlr.recipientid" ng-init="reportCtlr.recipientid.id=1" ng-options="recipient.name for recipient in reportCtlr.recipients.data track by recipient.id">
                              </select>
                              <p style="margin-top:5px; margin-left:5px">[[reportCtlr.showRecipientsEmails(reportCtlr.recipientid.id)]] </p>
                            </div>   


                        </div>
                        <div class="modal-footer">
                            <button ng-click="reportCtlr.share()" type="button" class="btn btn-primary">{{_('Share')}}</button>
                            <button id="btn-close-about-modal" type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>        
    </div>   

{% endblock %}